fastapi
uvicorn
python-multipart
tensorflow
keras
xgboost
scikit-learn
pandas
numpy
opencv-python
matplotlib
seaborn
pydantic
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
jinja2
python-dotenv
fpdf2
